doctype html
html(lang="en")
  head
    title Master Client
    link(rel = 'stylesheet', href = '//yui.yahooapis.com/pure/0.6.0/pure-min.css')
    style.
      .pure-button-success,
      .pure-button-error,
      .pure-button-warning,
      .pure-button-secondary {
          color: white;
          border-radius: 4px;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      }

      .pure-button-success {
          background: rgb(28, 184, 65);
      }

      .pure-button-error {
          background: rgb(202, 60, 60);
      }

      .pure-button-warning {
          background: rgb(223, 117, 20);
      }

      .pure-button-secondary {
          background: rgb(66, 184, 221);
      }
  body
    #status
    #ping-status
    #broadcast-status
    #stats
    pre#stats-brief

    form#start
      fieldset
        legend Start params
        p
          label(for = 'start-host') host
          input#start-host(name = 'host', value = 'https://priceservice.vndirect.com.vn/realtime')
        p
          label(for = 'start-ccu') ccu
          input#start-ccu(name = 'ccu', value = 5)
        p
          label(for = 'start-tick') tick time between connections (ms)
          input#start-tick(name = 'tick', value = 30)
        p
          button.pure-button.pure-button-primary(type = 'submit') Start

    p
      button#stop.pure-button.pure-button-error Stop
      = ' '
      button#get-stats.pure-button.pure-button-success Get stats
      = ' '
      button#get-stats-brief.pure-button.pure-button-success Get brief stats

    .pure-g
      form#ping.pure-u-1-2
        fieldset
          legend Ping params
          p
            label(for = 'ping-hits') hits
            input#ping-hits(name = 'hits', value = '20')
          p
            label(for = 'ping-tick') tick (ms)
            input#ping-tick(name = 'tick', value = '50')
          p
            label(for = 'ping-wait') wait (s)
            input#ping-wait(name = 'wait', value = '5')
          p
            button.pure-button.pure-button-primary(type = 'submit') Ping

      form#broadcast.pure-u-1-2
        fieldset
          legend Broadcast params
          p
            label(for = 'broadcast-hits') hits
            input#broadcast-hits(name = 'hits', value = '20')
          p
            label(for = 'broadcast-tick') tick (ms)
            input#broadcast-tick(name = 'tick', value = '50')
          p
            label(for = 'broadcast-wait') wait (s)
            input#broadcast-wait(name = 'wait', value = '5')
          p
            button.pure-button.pure-button-primary(type = 'submit') Broadcast

    div
      p
        button#do-report.pure-button.pure-button-success Make report
        = ' '
        button#flush-report.pure-button.pure-button-error Flush report
      #report
        pre#report-ping
        pre#report-broadcast

    script#stats-tmpl(type = 'text/template').
      <p>Stats</p>
      <ul>
        <% for (var i in agents) { %>
          <li><%= agents[i].agent %>: <%= agents[i].status === 'ok' ? agents[i].swarm_size : 'dead' %></li>
        <% } %>
      </ul>

    script(src = '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
    script(src = '//code.jquery.com/jquery-2.1.4.min.js')
    script.
      $('#start').on('submit', function(e) {
        e.preventDefault();
        var $this = $(this);

        var data = {
          host: $this.find('[name=host]').val(),
          ccu: $this.find('[name=ccu]').val(),
          tick: $this.find('[name=tick]').val()
        };

        $.ajax({
          url: '/agents/_start',
          data: data
        }).done(function() {
          var text = 'Agents are now running: ' + JSON.stringify(data);
          $('#status').text(text);
        });
      });

      $('#stop').on('click', function(e) {
        e.preventDefault();
        $.ajax({
          url: '/agents/_stop',
        }).done(function() {
          $('#status').text('Agents stopped');
        });
      });

      $('#get-stats').on('click', function(e) {
        e.preventDefault();
        $('#stats').text('');
        $.ajax({
          url: '/agents/stats',
        }).done(function(data) {
          var tmpl = $('#stats-tmpl').text();
          $('#stats').html(_.template(tmpl)({agents: data}));
        });
      });

      $('#get-stats-brief').on('click', function(e) {
        e.preventDefault();
        $('#stats-brief').text('');
        $.ajax({
          url: '/agents/stats/_brief',
        }).done(function(data) {
          $('#stats-brief').text(JSON.stringify(data));
        });
      });

      $('#ping').on('submit', function(e) {
        e.preventDefault();
        var $this = $(this);

        var data = {
          hits: $this.find('[name=hits]').val(),
          tick: $this.find('[name=tick]').val(),
          wait: $this.find('[name=wait]').val()
        };

        $.ajax({
          url: '/agents/_ping',
          data: data
        }).done(function() {
          var text = 'Agents have started to ping: ' + JSON.stringify(data);
          $('#ping-status').text(text);
        });
      });

      $('#broadcast').on('submit', function(e) {
        e.preventDefault();
        var $this = $(this);

        var data = {
          hits: $this.find('[name=hits]').val(),
          tick: $this.find('[name=tick]').val(),
          wait: $this.find('[name=wait]').val()
        };

        $.ajax({
          url: '/agents/_broadcast',
          data: data
        }).done(function() {
          var text = 'Agents have started to broadcast: ' + JSON.stringify(data);
          $('#broadcast-status').text(text);
        });
      });

      $('#do-report').on('click', function(e) {
        e.preventDefault();
        $('#report-ping').text('');
        $('#report-broadcast').text('');

        $.ajax({
          url: '/reports/ping/_brief',
        }).done(function(data) {
          $('#report-ping').text(JSON.stringify(data));
        });

        $.ajax({
          url: '/reports/broadcast/_brief',
        }).done(function(data) {
          $('#report-broadcast').text(JSON.stringify(data));
        });
      });

      $('#flush-report').on('click', function(e) {
        e.preventDefault();

        $.ajax({
          url: '/reports/_flush',
        });
      });
